.image {
  overflow: hidden;
  border-radius: 15px;
}

.image:hover .image__img {
  transform: scale(1.2);
}

.image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: var(--transition-image);
}

