
.logo {
  margin: 30px 0;
}

.logo__svg {
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  fill: var(--color-main);
}

.logo--light svg {
  fill: var(--color-gray);
}

