/* Vendor */

@import 'vendor/bootstrap-grid.css';
@import 'vendor/hamburgers.css';
@import 'vendor/swiper-bundle.css';
@import 'vendor/lightgallery.css';
@import 'vendor/BeerSlider.css';

/* Fonts */

@import 'fonts.css';

/* Blocks */

@import 'blocks/box-sizing.css';
@import 'blocks/visually-hidden.css';
@import 'blocks/page.css';
@import 'blocks/title.css';
@import 'blocks/logo.css';
@import 'blocks/image.css';
@import 'blocks/socials.css';
@import 'blocks/header.css';
@import 'blocks/footer.css';
@import 'blocks/intro.css';
@import 'blocks/about.css';
@import 'blocks/statistics.css';
@import 'blocks/treatments.css';
@import 'blocks/regalia.css';
@import 'blocks/feedback.css';
@import 'blocks/compare.css';
@import 'blocks/faq.css';

/* Globals */

:root {
  --font-base: 'Montserrat', 'Helvetica', sans-serif;
  --font-primary: 'Montserrat', 'Helvetica', sans-serif;
  --font-size: 14px;
  --font-size-title: 20px;
  --letter-spacing: 1px;
  --line-height: 1.5;

  --color-main: #1d1d1b;
  --color-primary: '';
  --color-gray: #f0f0f0;
  --color-background: #ffffff;

  --gap-bottom: 30px;

  --transition-main: 0.3s;
  --transition-image: 1s;

  --swiper-pagination-color: var(--color-main);
  --swiper-navigation-color: var(--color-main);
  --swiper-navigation-size: 30px;
}
