/* Fonts */

@font-face {
  font-weight: '400';
  font-family: 'Montserat';
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/montserrat-regular-c7832852fd.woff2') format('woff2'),
    url('/fonts/montserrat-regular-9f56e38e5a.woff') format('woff');
}


@font-face {
  font-weight: '700';
  font-family: 'Montserat';
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/montserrat-700-28a81b3a70.woff2') format('woff2'),
    url('/fonts/montserrat-700-4830c39251.woff') format('woff');
}
